{
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "es5",
  "importOrder": [
    "^(react/(.*)$)|^(react)",
    "<THIRD_PARTY_MODULES>",
    "^@components/(.*)$",
    "^@features/(.*)$",
    "^@app/(.*)$",
    "^@assets/(.*)$",
    "^@hooks/(.*)$",
    "^@context/(.*)$",
    "^@selectors/(.*)$",
    "^@helpers/(.*)$",
    "^@utils/(.*)$",
    "^@constants(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
