@import './src/assets/styles/imports';

.winner-words {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  border: 2px solid transparent;
  padding: 10px;

  &.active {
    border-radius: 4px;
    border: 2px solid;
    border-image-slice: 1;
    background-color: $main-bg-color;
    border-image-source: linear-gradient(270deg, $main-color 36%, $right-letter-color 100%);
  }

  &__counter {
    color: $main-color;
    cursor: default;
  }

  &__popup {
    margin-top: 20px;
  }

  &__word {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__letter {
    cursor: default;
    flex: 1;
    background-color: $main-color;
    color: $right-letter-color;
    padding: 3px 6px;
    font-size: 14px;
    margin-right: 3px;
    border-radius: 4px;
    font-weight: 600;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
  }
}
